<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="BASIC">
			<directory>tests/Basic/</directory>
		</testsuite>
		<testsuite name="REST">
			<directory>tests/REST/</directory>
			<directory>tests/RestActivityStep/</directory>
			<directory>tests/RestTestRequirement/</directory>
			<directory>tests/RestTestRisk/</directory>
			<directory>tests/RestTestVariable/</directory>
		</testsuite>
	</testsuites>

	<!-- Code coverage -->
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml" />
	</logging>
</phpunit>